<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender class="org.apache.log4j.RollingFileAppender" name="fileAppender">
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="2"/>
        <param name="file" value="/home/edge/MEGAsync/job4jProjects/module2junior/SQLJDBC/src/main/resources/log/logfile.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender class="org.apache.log4j.ConsoleAppender" name="consoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <root>
        <level value="all"/>
        <appender-ref ref="fileAppender"/>
        <appender-ref ref="consoleAppender"/>
    </root>
</log4j:configuration>